.signup-container {
    height: 100vh;
    width: 100%;
    background: var(--gradient-light);
    color: var(--black);
    display: flex;
    justify-content: center;
}

.signup-box {
    width: 90%;
    margin-top: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -moz-box-shadow: 0 0 1rem var(--black);
    -webkit-box-shadow: 0 0 1rem var(--black);
    box-shadow: 0 0 1rem var(--black);
    position: relative;
    overflow: scroll;
}

.signup-middle-line {
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: var(--black-50);
    margin: 5% 50%;
}

.signup-box > p:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-box > p:nth-child(2) div {
    height: 1px;
    width: 47.5%;
    margin: 0 2.5%;
    background-color: var(--black-25);
}

/* SIGN UP RIGHT SIDE */

.signup-social,
.signup-form-container {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.signup-social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 90%;
    justify-content: space-between;
}

.signup-social-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.signup-social-buttons button {
    border: none;
    background-color: var(--black-5);
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
}

.signup-social-buttons button svg {
    height: 2rem;
    width: 2rem;
}

.signup-social-buttons button h5,
.signup-social-buttons button h6 {
    width: 100%;
}

.signup-requirements {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.signup-requirements ul {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.signup-requirements ul li {
    list-style: disc;
}

/* SIGN UP FORM */

.signup-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.signup-input {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    height: 3rem;
    width: 100%;
    position: relative;
}

.signup-input p {
    position: absolute;
    height: 2rem;
    bottom: -2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--red);
    gap: 0.5rem;
}

.signup-input p svg {
    height: 1rem;
}

.signup-input-field {
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 2px solid var(--black);
    font-size: 1rem;
    background-color: transparent;
}

.signup-input label {
    position: absolute;
    height: 50%;
    top: 1rem;
    left: 0;
    pointer-events: none;
    transition: 0.4s ease all;
    font-size: 1rem;
    color: var(--black-50);
}

.signup-input input:empty {
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 100%;
    caret-color: var(--black-50);
    color: var(--black);
    font-size: 1rem;
}

.signup-input input:focus {
    outline: none;
    border-bottom: 1px solid var(--black);
}

.signup-input input:focus ~ label {
    top: -0.5rem;
    font-size: 0.75rem;
}

.signup-input .label-up {
    top: -0.5rem;
    font-size: 0.75rem;
}

.signup-input-field:focus {
    outline: none;
}

.signup-form button {
    width: 36%;
    height: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: var(--gradient);
    color: var(--black);
    align-self: center;
}

@media screen and (min-width: 768px) {
    .signup-box {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .signup-box {
        width: 90%;
        height: calc(100vh - 6rem);
        justify-content: space-between;
        flex-direction: row;
        overflow: hidden;
    }

    /* LEFT SIDE */
    .signup-social,
    .signup-form-container {
        width: 50%;
    }

    /* FORM */

    .signup-form {
        height: 70%;
    }
}

@media screen and (min-width: 1200px) {
    /* LEFT SIDE */
    .signup-social,
    .signup-form-container {
        width: calc(50% - 2rem);
    }
}
