.landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
}

.decorative-landing-div {
    width: 75vh;
    height: 100vh;
    display: block;
    /* background-color: var(--color-grey-300); */
    margin-left: 130vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.decorative-landing-div:after {
    left: -100vh;
    border-top: 50vh solid transparent;
    border-right: 50vh solid var(--color-grey-300);
    border-bottom: 50vh solid var(--color-grey-300);
    border-left: 50vh solid transparent;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    content: "";
    background-color: #fff;
}

.starter-page {
    height: 100%;
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}

.title {
    width: fit-content;
    height: fit-content;
}

.buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons a {
    margin: 0 2rem;
    width: 13rem;
    height: 4rem;
    background-color: var(--color-grey-600);
    color: var(--color-grey-100);
    border: none;
    border-radius: 3rem;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
