.landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.background-image {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.decorative-landing-div {
    width: 100vh;
    height: 100vh;
    display: block;
    background-color: var(--color-grey-300);
    margin-left: 110vh;
}

.decorative-landing-div:after {
    left: -100vh;
    border-top: 50vh solid transparent;
    border-right: 50vh solid var(--color-grey-300);
    border-bottom: 50vh solid var(--color-grey-300);
    border-left: 50vh solid transparent;
    display: block;
    position: relative;
    content: "";
}

.starter-page {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
}

.title h1 {
    width: 100%;
    text-align: center;
    color: var(--color-grey-100);
    font-size: 5.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.description h3 {
    text-align: center;
    color: var(--color-grey-100);
    font-weight: 400;
    font-size: 25px;
}

.buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons a {
    margin: 0 2rem;
    width: 13rem;
    height: 4rem;
    background-color: var(--color-grey-600);
    color: var(--color-grey-100);
    border: none;
    border-radius: 3rem;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
