/* TRADELOG MAIN PAGE */

.tradelog {
    width: 80%;
    height: calc(100vh - 6.5rem);
    place-self: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tradelog h3 {
    display: flex;
    justify-content: center;
    padding: 0;
    height: fit-content;
}

.tradelog-filter {
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;
}

.tradelog-filter button {
    width: 20%;
    height: 33%;
    border: none;
    background: var(--gradient);
    box-shadow: 0 5px 8px var(--black-10);
}

.tradelog-filter select {
    width: 20%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--black);
    background: var(--gradient);
    border: none;
    cursor: pointer;
    height: 33%;
    box-shadow: 0 5px 8px var(--black-10);
}

.tradelog-filter select:focus {
    outline: none;
}

.tradelog-trades-header {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    place-items: center;
    position: relative;
    height: 10%;
}

.tradelog-trades {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.tradelog-trades::-webkit-scrollbar {
    display: none;
}

/* TRADE */

.tradelog-trade-container {
    height: 9%;
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    place-items: center;
}

.tradelog-trade-container:nth-child(odd) {
    background-color: var(--black-10);
}

.tradelog-trade-container h6 {
    display: flex;
    justify-content: center;
}

.tradelog-trade-container:last-child {
    border-bottom: 0;
}

.tradelog-trade-time {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tradelog-trade-time h6 {
    width: 47%;
}

.tradelog-trades-header > button {
    border: none;
    background-color: transparent;
    color: var(--black-25);
    margin-bottom: 1.25rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
}

.tradelog-trades-header button span {
    pointer-events: none;
}

.tradelog-trades-header > button:nth-child(2) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradelog-trades-header-icon {
    width: 50%;
    place-self: center;
}

/* FILTERS  */

.tradelog-filters {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 250%;
    background: rgb(var(--primary));
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    place-items: center;
    box-shadow: 0 0.25rem 1em var(--black-50);
}

.tradelog-filters div {
    width: 100%;
}

.tradelog-filters div label {
    color: var(--black);
    margin-right: 1rem;
}

.tradelog-filters button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin-left: auto;
    color: var(--black);
    padding-right: 0.2rem;
    font-size: 0.75rem;
}

.tradelog-filters button:nth-child(3) {
    width: 30%;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

button#tradelog-filters-clear {
    background-color: transparent;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
}

.tradelog-filters input,
.tradelog-filters select {
    background-color: #fff;
    color: var(--black);
    color-scheme: dark;
    height: 1.5rem;
    border: none;
    padding: 0 0.25rem;
}

.tradelog-filters input:focus,
.tradelog-filters select:focus {
    outline: none;
}

.tradelog-filters option {
    color: var(--black);
}

/* REMOVE MODAL */

.remove-modal {
    padding: 1rem;
    height: 80%;
    width: 70%;
    background-color: var(--red);
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -35%;
    color: var(--black);
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 2fr;
    border-radius: 10px;
    place-items: center;
}

.remove-modal > * {
    width: 100%;
    height: 100%;
}

.remove-modal-cross {
    height: 10rem;
    width: 10rem;
    color: #fff;
}

.remove-modal div:first-child {
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 50%;
}

.remove-modal h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-modal h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.remove-modal-btn-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remove-modal-btn-container button {
    height: 33%;
    width: 40%;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 5px 8px var(--black-25);
}

.remove-modal-btn-container button:first-child {
    background-color: #fff;
}

.remove-modal-btn-container button:nth-child(2) {
    background: var(--gradient);
}

@media screen and (min-width: 900px) {
    .tradelog-filters {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .tradelog-filters {
        width: 60%;
    }
    .tradelog-filter div {
        width: 20%;
    }
}
