.stats {
    width: 80%;
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.stats > div:not(:nth-child(1)) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
