.user-update-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-update-form-input {
    height: 100%;
    display: flex;
    align-items: center;
}

.floating {
    height: 35%;
    width: 100%;
    position: relative;
}

.user-update-form-input label {
    position: absolute;
    height: 50%;
    top: 15%;
    left: 0;
    pointer-events: none;
    transition: 0.4s ease all;
}

.user-update-form-input input:empty {
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 100%;
    caret-color: var(--black);
    color: var(--black);
}

.user-update-form-input input:focus {
    outline: none;
    border-bottom: 1px solid var(--black);
}

.user-update-form-input input:focus ~ label {
    top: -1rem;
    font-size: 0.7rem;
}

.user-update-form-input .label-up p {
    top: -1rem;
    font-size: 0.7rem;
}

.default-class {
    height: 100%;
}

.user-update-form > div:last-child {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.user-update-form > div:last-child button {
    width: 100%;
    height: 1.5rem;
    color: var(--black);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient);
    box-shadow: var(--button-shadow);
}

.image-input {
    height: 50%;
    display: flex;
    justify-content: start;
}

.image-input h6 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-input-button {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.image-input-button input {
    width: 100%;
    height: 100%;
    display: none;
}

.image-input-button label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: var(--black-10);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--button-shadow);
}

@media screen and (min-width: 768px) {
    .user-update-form > div:last-child button {
        height: 2rem;
    }

    .user-update-form > div:last-child {
        width: 40%;
    }

    .image-input-button label {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .user-update-form > div:last-child {
        width: 30%;
    }

    .user-update-form > div:last-child button {
        height: 2.5rem;
    }

    .image-input-button label {
        width: 65%;
    }

    .user-update-form-input input:focus ~ label {
        top: -1rem;
    }

    .user-update-form-input .label-up {
        top: -1rem;
    }
}

@media screen and (min-width: 1200px) {
    .user-update-form > div:last-child button {
        height: 3rem;
    }
}
