.signup-info-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-info-form form {
    height: calc(100vh - 8rem);
    width: calc(100% - 8rem);
    display: flex;
    justify-content: space-between;
}

.signup-info-form-profile-pic {
    height: 100%;
    width: calc(50% - 4rem);
}

.signup-info-form-input-container {
    width: 50%;
}

.signup-info-form-profile-pic input {
    display: none;
}

.signup-info-form-profile-pic img {
    width: 10%;
}
