.chatroom-functions {
    position: absolute;
    height: 100%;
    width: 33%;
    box-shadow: 1px 0 10px black;
    background-color: #fff;
    top: 0;
    right: 0;
    display: flex;
}

.chatroom-functions > div:first-child {
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.chatroom-functions > div:first-child button {
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border: none;
}

.chatroom-functions > div:first-child svg {
    width: 75%;
    height: 75%;
}

.chatroom-functions > div:last-child {
    width: calc(100% - 3rem);
    padding: 1rem;
    padding-left: 0;
}
