.gap {
	height: 100%;
	width: 100%;
	background-color: var(--black-25);
	position: absolute;
}

.gap-screener-header {
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gap-screener-header > div {
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
