/* CONTACT MAIN */

.contact {
    align-items: center;
    color: var(--color-grey-300);
    display: flex;
    flex-direction: column;
    place-self: center;
    width: 90%;
}

.contact-main {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    width: 100%;
}

.contact h1 {
    text-align: center;
    width: 100%;
}

/* CONTACT FORM */

.contact-form {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 1% 0;
    width: 100%;
}

.contact-form-main {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}

.contact-form-input-container {
    height: 100%;
    width: 100%;
}

.contact-form-input-container .floating {
    height: 45%;
    position: relative;
    width: 100%;
}

.contact-form-input-container label {
    font-size: 15px;
    height: 50%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 25%;
    transition: 0.4s ease all;
}

.contact-form-input-container input:empty {
    background-color: transparent;
    border-bottom: 1px solid var(--color-grey-300);
    border: none;
    caret-color: var(--color-grey-300);
    color: var(--color-grey-300);
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

.contact-form-input-container input:focus {
    border-bottom: 1px solid var(--color-grey-300);
    outline: none;
}

.contact-form-input-container input:focus ~ label {
    top: -15px;
    font-size: 12px;
}

.contact-form-input-container .label-up {
    font-size: 12px;
    top: -15px;
}

.contact-form-main > div {
    display: flex;
    justify-content: center;
}

.contact-form-main > div:nth-child(2) {
    width: 100%;
}

.contact-form-main > div:nth-child(2) textarea {
    background-color: var(--color-grey-800);
    border: none;
    font-family: inherit;
    padding: 1%;
    resize: none;
    width: 100%;
}

.contact-form-main > div:nth-child(2) textarea,
.contact-form-main textarea::placeholder {
    color: var(--color-grey-300);
}

.contact-form-main > div:nth-child(2) textarea::placeholder {
    opacity: 0.6;
}

.contact-form-main > div:last-child {
    align-items: center;
}

.contact-form-main > div:last-child button {
    align-items: center;
    background-color: var(--color-grey-800);
    border-radius: 2rem;
    border: none;
    color: var(--color-grey-300);
    display: flex;
    font-size: 100%;
    height: 35%;
    justify-content: center;
    width: 30%;
}

/* OTHER */

.contact-other {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 70%;
    padding: 1% 0;
}
.contact-other h2 {
    padding: 1rem 0;
}

.contact-other > div {
    margin-top: 2.5%;
}

.contact-other ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}

.contact-other ul li:last-child p {
    font-size: 1rem;
}

.contact-other ul li a {
    color: var(--color-grey-300);
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

@media screen and (min-width: 600px) {
    /* OTHER */

    .contact-other ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 100%;
    }
}

@media screen and (min-width: 900px) {
    /* CONTACT MAIN */

    .contact-main {
        color: var(--color-grey-300);
        display: flex;
        flex-direction: row;
        place-self: center;
        width: 90%;
    }

    .contact-form-main {
        align-self: center;
        width: 90%;
    }

    /* OTHER */

    .contact-other ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    /* CONTACT MAIN */
    .contact-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
