/* NORMAL NAVBAR */

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    width: calc(100% - 8rem);
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.logo > img {
    height: 100%;
}

.nav-links {
    height: 50%;
    width: 39%;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    height: 100%;
}

.nav-links p {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);
}

.user {
    width: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
}

.user > svg {
    height: 100%;
}
