/* NORMAL NAVBAR */

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-content {
    width: calc(100% - 8rem);
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.logo > img {
    height: 100%;
}

.nav-links {
    height: 100%;
    width: 39%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.link-arrow {
    height: 0;
    width: 0;
    border-bottom: 0.5rem solid rgba(var(--primary), 0.5);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
    position: absolute;
    bottom: -0.65rem;
}

.nav-links > div,
.nav-links a {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-links > div:hover h6 {
    opacity: 0.5;
}

.nav-links h6 {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);
}

.user {
    width: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
}

.user > svg {
    height: 100%;
}
