/* NORMAL NAVBAR */

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 5px var(--black-10);
}

.nav-content {
    width: calc(100% - 8rem);
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 25%;
}

.logo > img {
    height: 100%;
}

.nav-links {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-links > div,
.nav-links a {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-links > div:hover h6 {
    opacity: 0.5;
}

.nav-links h6 {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);
}

.user {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
}

.user > svg {
    height: 100%;
}

@media screen and (min-width: 1200px) {
    nav {
        height: 8vh;
    }
}
