.small-links {
    padding-left: 0.5rem;
}

.small-links .links {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 10%;
}

.small-links .link {
    width: 100%;
}

.small-links .login {
    width: 100%;
}

.small-links .login button {
    width: 30%;
}

.small-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.small-nav > div:first-child {
    width: 50%;
    height: 70%;
}

.small-nav img {
    height: 100%;
}

.small-nav button {
    width: 5%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    padding: 0;
}

.small-nav button svg {
    color: var(--black);
}
