/* SMALL LINKS */

.small-links {
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-bottom: 10%;
}

.links > * {
    height: 10%;
}

.link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
}

.links a {
    height: 15%;
    display: flex;
    align-items: center;
}

.links > a svg {
    height: 60%;
}

.show-trading,
.show-screeners {
    padding-left: 2rem;
}

.show-trading a:not(:last-child),
.show-screeners a:not(:last-child) {
    border-bottom: 1px solid var(--black-50);
}

.show-trading {
    height: 40%;
}

.show-trading a {
    height: 20%;
}

.show-screeners {
    height: 24%;
}

.show-screeners a {
    height: 33%;
}

/* SMALL NAV */

.login {
    width: 100%;
}

.login button {
    width: 30%;
}

.small-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.small-nav > div:first-child {
    width: 50%;
    height: 70%;
}

.small-nav img {
    height: 100%;
}

.small-nav button {
    width: 5%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    padding: 0;
}

.small-nav button svg {
    color: var(--black);
}
