.dashboard-landing {
    overflow: scroll;
    padding: 1rem;
    gap: 3rem;
    display: grid;
}

.no-show {
    display: none;
}

.show {
    grid-column: span 2;
}

.no-show-button {
    height: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 40%;
}

.no-show-button svg {
    color: var(--black);
}

@media screen and (min-width: 1200px) {
    .dashboard-landing {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem 2rem;
        gap: 1rem;
    }
}
