/* LANDING */

.addtrade-landing {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    place-self: center;
    width: 100%;
}

.addtrade-landing h2 {
    align-self: flex-start;
    color: var(--color-grey-300);
    margin-left: 16.5%;
}

.addtrade-landing > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    width: 80%;
}

.addtrade-landing > div div {
    align-items: center;
    display: flex;
    height: 30%;
    justify-content: space-around;
    width: 80%;
}

.addtrade-landing > div a {
    align-items: center;
    background-color: var(--color-grey-700);
    border-radius: 1.5rem;
    color: var(--color-grey-300);
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    width: 33%;
}

/* FILE READER */

.addtrade-filereader {
    align-items: center;
    color: var(--color-grey-300);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.addtrade-filereader h2 {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.addtrade-filereader form {
    color: var(--color-grey-300);
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
}

.addtrade-filereader form > div {
    height: 27.5%;
    width: 100%;
}

.addtrade-filereader form > div select {
    height: 25%;
    width: 100%;
}

.addtrade-filereader form label {
    display: block;
    height: 25%;
}

.addtrade-filereader form > div option {
    zoom: 1.25;
}

.addtrade-filereader div:last-child {
    height: 10%;
    margin: auto 0;
}

.addtrade-filereader div:last-child button {
    background-color: var(--color-grey-700);
    border-radius: 1.5rem;
    border: none;
    color: var(--color-grey-300);
    font-size: 1rem;
    height: 100%;
    width: 40%;
}

/* FORM */

.addtrade {
    color: var(--color-grey-300);
    display: grid;
    grid-template-rows: 1fr repeat(2, 3fr) 6fr 3fr 6fr 2fr;
    height: 120vh;
    overflow: scroll;
    place-self: center;
    width: 90%;
}

.addtrade > * {
    height: 100%;
    width: 100%;
}

.addtrade input {
    background-color: transparent;
    color: var(--color-grey-300);
}

.addtrade input {
    color-scheme: dark;
}

.addtrade input::placeholder {
    border-radius: 10px;
    border: none;
    opacity: 0.5;
}

.addtrade-stock-input {
    align-items: center;
    display: flex;
}

.addtrade-stock-input option {
    color: var(--color-grey-300);
}

.addtrade-stock-input select {
    color: var(--color-grey-600);
}

.addtrade-stock-input label {
    font-size: 1.5rem;
    padding-right: 3rem;
}

.addtrade-account-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addtrade-account-input {
    align-items: center;
    display: flex;
}

.addtrade-account-input label {
    font-size: 1.5rem;
    padding-right: 3rem;
}

input#pl:focus {
    outline: none;
}

.addtrade-daytime-inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.addtrade-daytime-input {
    align-items: center;
    display: flex;
}

.addtrade-daytime-input label {
    font-size: 1.5rem;
    padding-right: 3rem;
}

.addtrade-daytime-input input {
    height: 50%;
}

.addtrade-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.addtrade-btn button {
    background-color: var(--color-grey-500);
    border-radius: 1rem;
    border: none;
    color: var(--color-grey-300);
    height: 50%;
    width: 30%;
}

@media screen and (min-width: 900px) {
    /* LANDING */

    .addtrade-landing {
        width: 60%;
    }

    .addtrade-landing h2 {
        margin-left: 8.5%;
    }

    .addtrade-landing > div {
        width: 100%;
    }

    .addtrade-landing > div div {
        width: 100%;
    }

    /* FILE READER */

    .addtrade-filereader form > div select {
        width: 50%;
    }

    .addtrade-filereader div:last-child button {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    /* LANDING */
    .addtrade-landing h2 {
        font-size: 2rem;
        margin-left: 12.5%;
    }

    .addtrade-landing > div a {
        border: 2rem;
        width: 25%;
    }

    /* FORM */

    .addtrade {
        grid-template-columns: repeat(2, 4fr);
        grid-template-rows: 5fr 10fr repeat(2, 25fr) 15fr;
        height: 100%;
        width: 80%;
    }

    .addtrade h2,
    .addtrade-btn {
        grid-column: span 2;
    }

    .addtrade-btn button {
        height: 40%;
        width: 25%;
    }

    /* FILE READER */

    .addtrade-filereader form > div select {
        width: 40%;
    }
    .addtrade-filereader div:last-child button {
        width: 20%;
    }
}

@media screen and (min-width: 1500px) {
    /* LANDING */

    .addtrade-landing {
        width: 50%;
    }

    /* FILE READER */

    .addtrade-filereader form > div select {
        width: 30%;
    }
}
