.nav-box {
    background-color: rgba(var(--primary), 0.5);
    position: absolute;
    top: 9.5vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.top {
    height: 1rem;
    width: 100%;
    position: absolute;
    top: -1rem;
}

.nav-box svg {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--black);
}

.nav-box h5 {
    display: flex;
    align-items: center;
}

.screener-box-main,
.trading-box-main {
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    background-color: #fff;
    border-radius: 1px;
    padding: 2rem;
}

.nav-box a {
    display: flex;
    gap: 1rem;
}
/* SCREENER BOX */

.screener-box {
    left: 40%;
    width: 25%;
    height: 25%;
}

.screener-box-main > div {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap-box,
.hod-box {
    display: flex;
    gap: 1rem;
}

/* TRADING BOX */

.trading-box {
    left: 31%;
    width: 40%;
    height: 35%;
}

.trading-box-main {
    display: flex;
    justify-content: space-between;
}

.trading-box-main > div {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.trading-box-main h4 {
    height: 15%;
}

.trading-box-main > div div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
