@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    /* COLORS */

    --primary: 0, 255, 244;
    --secondary: 13, 255, 106;
    --gradient: linear-gradient(315deg, #00fff4, #0dff6a);
    --gradient-light: linear-gradient(
        315deg,
        rgba(0, 255, 244, 0.4),
        rgba(13, 255, 106, 0.4)
    );
    --black: rgba(42, 54, 53, 1);
    --black-75: rgba(42, 54, 53, 0.75);
    --black-50: rgba(42, 54, 53, 0.5);
    --black-25: rgba(42, 54, 53, 0.25);
    --black-10: rgba(42, 54, 53, 0.1);
    --black-5: rgba(42, 54, 53, 0.05);
    --green: #50a343;
    --red: #da473a;

    /* SHADOWS */
    --button-shadow: 0 5px 8px var(--black-10);
}

*,
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #fff;
    line-height: 1.5;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    display: block;
}

button,
input,
textarea {
    font-family: inherit;
}

button:hover,
a:hover {
    opacity: 0.5;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.25;
    font-weight: 400;
    color: var(--black);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.85rem;
    font-weight: 300;
}

p {
    font-size: 0.7rem;
    font-weight: 200;
}

svg {
    padding: 0;
    margin: 0;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #fff;
    animation: spinner 0.6s linear infinite;
}

li {
    list-style: none;
}

main {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 9fr;
}
