/* MAIN PAGE */

.danger-zone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.danger-zone-action {
    overflow: hidden;
    height: 47.5%;
    border: 1px solid var(--red);
    padding: 0.5rem;
    display: flex;
}

.danger-zone-action h3 {
    font-weight: 300;
    color: var(--red);
    padding: 0;
}

.danger-zone-action p {
    height: 100%;
    width: 100%;
}

.danger-zone-action > div:first-child {
    width: 150%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.danger-zone-action > div:last-child {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
}

.danger-zone-action button,
.danger-zone-action a {
    height: 30%;
    width: 80%;
    border: none;
    background-color: var(--red);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
}

/* CHANGE PASSWORD FORM */

.change-password-form {
    height: 100%;
}

.change-password-form-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.change-password-input-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.change-password-form-floating {
    position: relative;
    width: 100%;
    height: 30%;
}

.change-password-form-floating label {
    position: absolute;
    height: 50%;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: 0.4s ease all;
    font-size: 0.8rem;
}

.change-password-form-floating input:empty {
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 100%;
    caret-color: var(--black);
    color: var(--black);
    font-size: 0.8rem;
}

.change-password-form-floating input:focus {
    outline: none;
    border-bottom: 1px solid var(--black);
}

.change-password-form-floating .label-up,
.change-password-form-floating input:focus ~ label {
    top: -0.85rem;
    font-size: 0.7rem;
}

.change-password-form-button-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.change-password-form-button-container div {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

.change-password-form-button-container button {
    height: 100%;
    width: 30%;
    border: none;
    color: var(--black);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
}

.change-password-form-button-container div button:first-child {
    background-color: var(--black-10);
}

.change-password-form-button-container div button:last-child {
    background-color: var(--red);
    color: #fff;
}

.change-password-form h6 {
    padding-top: 0.3rem;
    font-weight: 100;
    color: var(--red);
    position: absolute;
    top: 0;
    height: 140%;
    display: flex;
    align-items: end;
    pointer-events: none;
}

.change-password-form span {
    padding: 0 0.3rem;
}

.change-password-form-floating button {
    position: absolute;
    right: 0;
    height: 40%;
    background-color: transparent;
    border: none;
    width: fit-content;
    top: 50%;
    transform: translate(0, -50%);
}

.change-password-form-floating button svg {
    margin: 0;
}

h6.hide {
    display: none;
}

.change-password-requiements {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    color: var(--black);
    margin-right: -1rem;
}

/* DELETE MODAL */

.delete-profile-modal {
    padding: 1rem;
    height: 70%;
    width: 80%;
    background: var(--gradient);
    position: fixed;
    top: 15%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.delete-profile-modal > * {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete-profile-modal-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.delete-profile-modal > div:first-child {
    height: 50%;
}

.delete-cross {
    height: 100%;
    width: auto;
    color: var(--red);
    border: 3px solid var(--red);
    padding: 1rem;
    border-radius: 50%;
}

.delete-profile-modal h2 {
    height: 20%;
    display: flex;
    align-items: center;
    color: var(--red);
}

.delete-profile-modal h6,
.delete-profile-modal > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.delete-modal-button-container {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.delete-modal-button-container button {
    height: 100%;
    width: 45%;
    font-weight: 600;
    border: none;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal-button-container button:last-child {
    background-color: #fff;
}

/* ASK PASSWORD FORM */

.ask-password-form {
    height: 100%;
    width: 100%;
    grid-row: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ask-password-form input {
    display: block;
    height: 20%;
    width: 50%;
    border: none;
}

.ask-password-form input:focus {
    outline: none;
}

.ask-password-container {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ask-password-button-container {
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ask-password-button-container div {
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.ask-password-button-container div button {
    height: 100%;
    width: 33%;
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.ask-password-button-container div button:first-child {
    background-color: var(--red);
    color: var(--black);
}

@media screen and (min-width: 768px) {
    /* DELETE MODAL */

    .delete-profile-modal {
        width: 70%;
        height: 60%;
        top: 20%;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    /* MAIN PAGE */

    .danger-zone-action button,
    .danger-zone-action a {
        height: 20%;
        width: 70%;
    }
    .danger-zone-action h4 {
        font-size: 1.5rem;
    }

    /* CHANGE PASSWORD FORM */

    .change-password-form-floating {
        position: relative;
        width: 70%;
    }

    .change-password-form-button-container > div {
        width: 70%;
        justify-content: flex-start;
        column-gap: 10%;
    }

    /* DELETE MODAL */

    .delete-profile-modal {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    /* DELETE MODAL */

    .delete-profile-modal {
        width: 40%;
    }
}
