.hod {
    height: 100%;
    width: 100%;
    place-self: center;
    display: flex;
    flex-direction: column;
    background-color: var(--black-10);
    color: var(--black);
    overflow: hidden;
    position: absolute;
}

.screener-header {
    display: flex;
    flex-grow: 1;
    font-size: 0.75rem;
}

.screener-main {
    flex-grow: 9;
    overflow: scroll;
}

.hod-stock > div,
.screener-header > div {
    height: 100%;
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screener-main > div:nth-child(odd) {
    background-color: var(--black-10);
}

.hod-stock {
    color: var(--black);
    display: flex;
    height: 5vh;
}

.hod-stock p,
.screener-header p {
    width: 100%;
    text-align: center;
    margin: 0;
}
