.hod {
    height: 90%;
    width: 70%;
    place-self: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-500);
    color: var(--color-grey-900);
    overflow: hidden;
}

.screener-header {
    display: flex;
    height: 17.5%;
    font-size: 1rem;
}

.screener-main {
    height: 82.5%;
    overflow: scroll;
}

.hod-stock > div,
.screener-header > div {
    height: 100%;
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screener-main > div:nth-child(odd) {
    background-color: var(--color-grey-400);
}

.hod-stock {
    color: var(--color-grey-900);
    display: flex;
    height: 5vh;
}

.hod-stock p,
.screener-header p {
    width: 40%;
    justify-content: flex-start;
    margin: 0;
}
